/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
		font: normal normal 400;
		font-size: 10pt;
		line-height: 1.2em;
}

#contact {
	width: 50%;
	float:left;
	margin-top: 2em;
	position: relative;
	color: #111;
	text-align: right;
}

#address {
		margin-top: 2em;
	  width: 50%;
		float:left;
		margin-bottom: 20px;
}

#list {
	clear:both;
	margin-left: 300px;
}

#list ol, ul {
	list-style: none;
}

h1 {
	font-size: 1.7em;
	font-weight:bold;
	padding-bottom: 1em;
}

h2 {
	color: #d6002b;
	font-size: 1.2em;
	font-weight:bold;
	padding-bottom: 1em;
}

h3 {
	padding-bottom: .5em;
	font-weight: bold;
	text-align: right;
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

.pagebreak { page-break-before: always; } /* page-break-after works, as well */

span.ich {
	color: #d6002b;
}
/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/

#list h2,h3 {
	position: relative;
	left: -300px;
}

#list dl {
  position: relative;
	left: -100px;
}

#list h3 {
  clear: both;
  margin: 0;
  float: left;
  display: table-cell;
  width: 180px;
  margin-right: -180px;
  padding: 0;
}

#list dl dt {
  float: left;
  padding: 0 5px;
  display: table-cell;
  width: 80px;
  margin-top: 0px;
	font-style: italic;
}

#list dl dd {
    display:table-cell;
}

#list li {
		padding-bottom: 0.4em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

div.trigger {
	float:right;
}

.pagebreak { page-break-before: always; } /* page-break-after works, as well */
